html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Global Styling */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Mulish', sans-serif;
}

body {
  font-weight: 400;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #fff;
  font-size: 9rem;
  font-family: 'Baskerville', serif;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  opacity: 0;
}

.showText {
  animation: share-text 2s 2s ease forwards;
}

@keyframes share-text {
  from {
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

form {
  visibility: hidden;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Preload animation */
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.hide {
  visibility: visible;
  animation: fade-out 2s ease forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

/* Create a drawn stroke effect of the preloader */
.logo path:nth-child(2) {
  stroke-dasharray: 495.84;
  stroke-dashoffset: 495.84;
  animation: line-animate 2s forwards;
}

.logo path:nth-child(3) {
  stroke-dasharray: 249.94;
  stroke-dashoffset: 249.94;
  animation: line-animate 2s .9s forwards;
}

.logo path:nth-child(4) {
  stroke-dasharray: 228.55;
  stroke-dashoffset: 228.55;
  animation: line-animate 2s 1.8s forwards;
}

.logo path:nth-child(5) {
  stroke-dasharray: 386.27;
  stroke-dashoffset: 386.27;
  transition: .3s;
  animation: line-animate 2s 4s forwards;
}

.logo path:nth-child(6) {
  stroke-dasharray: 475.37;
  stroke-dashoffset: 475.37;
  animation: line-animate 2s forwards;
}

.logo path:nth-child(7) {
  stroke-dasharray: 360.11;
  stroke-dashoffset: 360.11;
  animation: line-animate 2s .3s forwards;
}

.logo path:nth-child(8) {
  stroke-dasharray: 292.59;
  stroke-dashoffset: 292.59;
  animation: line-animate 2s .6s forwards;
}

.logo path:nth-child(9) {
  stroke-dasharray: 451.47;
  stroke-dashoffset: 451.47;
  animation: line-animate 2s .9s forwards;
}

.logo path:nth-child(10) {
  stroke-dasharray: 221.83;
  stroke-dashoffset: 221.83;
  animation: line-animate 2s 1.2s forwards;
}

.logo path:nth-child(11) {
  stroke-dasharray: 314.19;
  stroke-dashoffset: 314.19;
  animation: line-animate 2s 1.5s forwards;
}

.logo path:nth-child(12) {
  stroke-dasharray: 384.99;
  stroke-dashoffset: 384.99;
  animation: line-animate 2s 1.8s forwards;
}

@keyframes line-animate {
  to {
    stroke-dashoffset: 0;
  }
}

/* Make the preload X turn fill white */
.logo:hover path:nth-child(5) {
  fill: #fff;
}

/* Search bar */
.search-box {
  box-sizing: content-box;
  position: relative;
  background-color:white;
  height: 80px;
  border-radius: 80px;
  padding: 10px;
  width: 500px;
  transition: 1s;
  z-index: 5;
  opacity: .3;
}

.showSearch {
  animation: share-search 2s 2s ease forwards;
}

@keyframes share-search {
  from {
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: .7
  }
}

.search-box:hover,
.search-box:focus,
.search-box:focus-within {
  opacity: 1;
}

.search-box:hover > .search-button img,
.search-box:focus > .search-button img,
.search-box:focus-within > .search-button img {
  opacity: 1;
}

.search-box:hover > .search-text,
.search-box:focus > .search-text,
.search-box:focus-within > .search-text {
  color: #eb7a83;
}

.search-button {
  text-decoration: none;
  border: none;
  float: right;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.search-button img {
  scale: 2;
  position: relative;
  right: 45px;
  bottom: 5px;
  opacity: 0;
  transition: 1s;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding-left: 20px;
  color: white;
  line-height: 80px;
  width: 400px;
  transition: 1s;
  font-size: 3rem;
  position: relative;
  z-index: 10;
  transition: 1s;
}

.swatch button{
  width: 100px;
  min-height: 100px;


}