html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Global Styling */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Mulish', sans-serif;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #05090a;
}

h1 {
  color: #fff;
  font-size: 9rem;
  font-family: 'Baskerville', serif;
  position: absolute;
  top: 25%;
  padding-left: 10px;
  margin: 0;
  opacity: 0;
}

.showText {
  animation: share-text 2s 2s ease forwards;
}

@keyframes share-text {
  from {
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

h2 {
  color: white;
  font-family: 'Baskerville', serif;
  font-size: 5rem;
  text-align: center;
  padding: 20px 0 40px;
  position: relative;
}

h3 {
  font-family: 'Baskerville', serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  z-index: 10;
  font-size: 3rem;
}

a {
  text-decoration: none;
}

form {
  visibility: hidden;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Preload animation */
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.hide {
  visibility: visible;
  animation: fade-out 2s ease forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

/* Create a drawn stroke effect of the preloader */
.logo path:nth-child(2) {
  stroke-dasharray: 495.84;
  stroke-dashoffset: 495.84;
  animation: line-animate 2s forwards;
}

.logo path:nth-child(3) {
  stroke-dasharray: 249.94;
  stroke-dashoffset: 249.94;
  animation: line-animate 2s .9s forwards;
}

.logo path:nth-child(4) {
  stroke-dasharray: 228.55;
  stroke-dashoffset: 228.55;
  animation: line-animate 2s 1.8s forwards;
}

.logo path:nth-child(5) {
  stroke-dasharray: 386.27;
  stroke-dashoffset: 386.27;
  transition: .3s;
  animation: line-animate 2s 4s forwards;
}

.logo path:nth-child(6) {
  stroke-dasharray: 475.37;
  stroke-dashoffset: 475.37;
  animation: line-animate 2s forwards;
}

.logo path:nth-child(7) {
  stroke-dasharray: 360.11;
  stroke-dashoffset: 360.11;
  animation: line-animate 2s .3s forwards;
}

.logo path:nth-child(8) {
  stroke-dasharray: 292.59;
  stroke-dashoffset: 292.59;
  animation: line-animate 2s .6s forwards;
}

.logo path:nth-child(9) {
  stroke-dasharray: 451.47;
  stroke-dashoffset: 451.47;
  animation: line-animate 2s .9s forwards;
}

.logo path:nth-child(10) {
  stroke-dasharray: 221.83;
  stroke-dashoffset: 221.83;
  animation: line-animate 2s 1.2s forwards;
}

.logo path:nth-child(11) {
  stroke-dasharray: 314.19;
  stroke-dashoffset: 314.19;
  animation: line-animate 2s 1.5s forwards;
}

.logo path:nth-child(12) {
  stroke-dasharray: 384.99;
  stroke-dashoffset: 384.99;
  animation: line-animate 2s 1.8s forwards;
}

@keyframes line-animate {
  to {
    stroke-dashoffset: 0;
  }
}

/* Make the preload X turn fill white */
.logo:hover path:nth-child(5) {
  fill: #fff;
}

/* Search bar */
.search-box {
  box-sizing: content-box;
  position: relative;
  background-color:white;
  height: 80px;
  border-radius: 80px;
  padding: 10px;
  width: 500px;
  transition: 1s;
  z-index: 5;
  opacity: .3;
}

.showSearch {
  animation: share-search 2s 2s ease forwards;
}

@keyframes share-search {
  from {
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: .7
  }
}

.search-box:hover,
.search-box:focus,
.search-box:focus-within {
  opacity: 1;
}

.search-box:hover > .search-button img,
.search-box:focus > .search-button img,
.search-box:focus-within > .search-button img {
  opacity: 1;
}

.search-box:hover > .search-text,
.search-box:focus > .search-text,
.search-box:focus-within > .search-text {
  color: #eb7a83;
}

.search-button {
  text-decoration: none;
  border: none;
  float: right;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.search-button img {
  transform: scale(2);
  position: relative;
  right: 45px;
  bottom: 5px;
  opacity: 0;
  transition: 1s;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding-left: 20px;
  color: white;
  line-height: 80px;
  width: 400px;
  transition: 1s;
  font-size: 3rem;
  position: relative;
  z-index: 10;
  transition: 1s;
}

/* arrow to brands supported */
.arrow {
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
}

.arrow span {
  display: block;
  width: 50px;
  height: 50px;
  padding: 0px;
  border-bottom: 10px solid white;
  border-right: 10px solid white;
  transform: translateX(-50%) rotate(45deg);
  animation: flash 3s 0s infinite;
  opacity: 0;
}

.arrow span:nth-of-type(2) {
  animation: flash 3s 1s infinite;
}

@keyframes flash {
  0%, 50%, 75%, 100% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}

/* Color swatches styling */
section {
  background-color: #05090a;
}

.information {
  padding: 50px 0;
}

h2::before {
  content: '';
  width: 0;
  height: 5px;
  background-color: white;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s;
}

.information:hover h2::before {
  width: 20%;
}

.swatch button{
  width: 150px;
  min-height: 150px;
  border-style: none;
  border-radius: 50%;
  box-shadow: inset 10px 0px 30px rgba(0, 0, 0, .8);
  transition: .5s;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0);
  text-shadow: 2px 2px 5px transparent;
  cursor: pointer;
}

li:hover button{
  border: 5px solid white;
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 2px 5px #05090a;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

li {
  list-style: none;
  width: calc(100% / 4 - 20px);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.stick {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0;
}

.brush {
  position: relative;
  width: 60%;
  height: 70px;
  margin: 40px 0;
  background: linear-gradient(180deg,  rgba(255,255,255,.6) 10%, rgba(255,255,255,1) 50%, rgba(255,255,255,.6) 90%);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.neck {
  position: relative;
  z-index: 5;
  display: inline-block;
  background: linear-gradient(180deg, rgba(235, 122, 131,0.6) 10%, rgba(235, 122, 131,1) 50%, rgba(235, 122, 131,0.6) 90%);
  width: 20%;
  height: 70px;
}

.bristles {
  width: 10%;
  height: 70px;
  background: linear-gradient(180deg, rgba(34, 34, 43, 0.6) 10%, rgba(34, 34, 43, 0.1) 50%, rgba(34, 34, 43, 0.6) 90%);
  position: relative;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.tip {
  position: absolute;
  left: 60%;
  width: 40%;
  height: 70px;
  background: linear-gradient(90deg, rgba(134,86,46,0) 0%, rgba(134,86,46,.3) 100%);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

/* Art Picture Section */
.art {
  background-color: #05090a;
  padding-bottom: 50px;
}

.artFrame {
  width: 600px;
  min-height: 300px;
  margin: 0 auto;
  border-image: url(assets/frame.png) 88 90;
  border-image-width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artCorset {
  width: 480px;
  padding: 57px 0;
}

.artFrame img {
  margin: 0 auto;
  object-fit: cover;
}

.art p {
  color: white;
  text-align: center;
  margin: 20px;
}

.art:hover h2::before {
  width: 20%;
}

.art span {
  color: #eb7a83;
  font-weight: bold;
}

/* Brandlist styling */

.error-list:hover h2::before {
  width: 20%;
}

.error-list ul {
  justify-content: flex-start;
}

.error-list li {
  list-style: none;
  width: calc((100% - 6%) / 4);
  margin: 5px 2% 5px 0;
  display: block;
}

.error-list li:nth-child(4n) {
  margin-right: 0;
}

.brands a {
  z-index: 10;
  font-size: 2rem;
  color: #eb7a83;
  text-align: center;
  display: block;
  position: relative;
  transition: .5s;
  padding: 5px 0;
  overflow: visible;
  text-align: center;
}

.brands a:hover {
  color: white;
}

.brands a::before {
  content: '';
  background: url(./assets/makeup-stroke.png);
  position: absolute;
  background-size: cover;
  top: -10px;
  left: 15%;
  z-index: -1;
  width: 0%;
  height: 55px;
  transform-origin: left;
  overflow: visible;
  transition: .5s;
}

.brands a:hover::before {
  width: 70%;
}

/* Footer Styling */
footer {
  background-color: #eb7a83;
  text-align: center;
  font-size: 2rem;
}

footer div {
  padding: 20px 0;
}

footer a {
  text-decoration: none;
  color: black;
  position: relative;
  transition: .5s;
}

footer a:hover {
  color: white;
}

footer a::before {
  content: '';
  position: absolute;
  top: 25px;
  width: 0%;
  height: 3px;
  background-color: white;
  transition: .5s;
}

footer a:hover::before {
  content: '';
  position: absolute;
  top: 25px;
  width: 100%;
  height: 3px;
  background-color: white;
}

/* Media Queries */
@media (max-width: 550px) {
  /* Shrink h1 text and search bar for smaller viewports */
  h1 {
    font-size: 5rem;
    padding-left: 25px;
  }

  .search-box {
    height: 50px;
    border-radius: 50px;
    padding: 10px;
    width: 300px;
    transition: 1s;
    z-index: 5;
    opacity: .3;
  }

  .search-button {
    width: 50px;
    height: 50px;
  }

  .search-button img {
    right: 27px;
    bottom: 2px;
  }

  .search-text {
    padding-left: 20px;
    line-height: 50px;
    width: 200px;
    font-size: 1.6rem;
    z-index: 10;
  }
}

@media (max-width: 750px) {
  /* Adjust swatches section for smaller viewports */
  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .swatch button{
    width: 150px;
    min-height: 150px;
    font-size: 2rem;
  }

  li:hover button{
    border: 5px solid white;
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 5px #05090a;
  }

  .swatch ul {
    justify-content: center;
  }

  .swatches li {
    width: calc(100% / 2);
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  /* Art section styling */
  .artFrame {
    width: 80%;
    position: relative;
  }

  .artCorset {
    width: 80%;
  }
}


/* Calvin to self -> don't touch this */
.hidden {
  display: none;
}



/* Start anchor that is hidden  */
/* Thie following needs to stay below the search bar, where it is visible to the user when an error occurs you may style it as you wish, but please don't hide it under the arrow */
.start .errorMessage {
  position: relative;
  width: 50%;
  top: -100px;
}

.message {
  z-index: 20;
  position: absolute;
  transform: translateY(-150px);
  width: 100%;
  text-align: center;
  color: #FFFFFF;
}
